---
interface Props {
  href: string
  text: string
}

const { href, text } = Astro.props
---

<a
  href={href}
  class="inline-flex items-center text-[#61afef] mb-8 hover:text-[#528bff] transition-colors"
>
  <span class="text-2xl mr-1"></span>
  {text}
</a>
