---
  const currentDate = new Date().getFullYear()
---

<footer class='py-5 bg-linear-to-t from-[#282c34] via-90% via-[#282c34] to-[#1f2329]'>
  <div class='container mx-auto px-4'>
    <div class='flex items-center justify-between text-center'>
      <p class='text-xs text-[#abb2bf]'>
        <span class='text-[#c678dd]'>loadept</span> <span class='text-[#e06c75]'>-</span> {currentDate}
      </p>
      <a href='https://github.com/loadept/loadept.com' target='_blank' title='source' class='text-xs'>
        <span class='outline-none text-[#e06c75] border-b'>Código fuente</span>
      </a>
    </div>
  </div>
</footer>
