{{ define "content" }}
<div class="container mx-auto px-4 max-w-3xl mb-20">
  <div class="space-y-16">

    <section class="space-y-6">
      <div class="space-y-4">
        <h1 class="text-3xl font-bold text-[#e5c07b]">
          Hola, soy <span class="text-[#61afef]">Jesus</span>
        </h1>
        <p class="text-sm md:text-base leading-relaxed">
          Desarrollador con experiencia en arquitectura de software escalable y procesamiento de datos en tiempo
          real. Especializado en backend con <strong class="text-[#61afef]">Go</strong>,
          <strong class="text-[#e5c07b]">Python</strong> y <strong class="text-[#98c379]">Node.js</strong>,
          microservicios, bases de datos como <strong class="text-[#98c379]">MongoDB</strong>
          y <strong class="text-[#0064a5]">PostgreSQL</strong>, y tecnologías de streaming como <strong
            class="text-[#e5c07b]">Kafka</strong>.
          Con conocimientos en sistemas de
          recomendación, despliegue en <strong class="text-[#fa7970]">AWS</strong> y optimización de rendimiento.
          Enfocado en crear soluciones
          eficientes y escalables.
        </p>
      </div>
    </section>

    <section class="space-y-6">
      <div class="flex items-center gap-2">
        <span class="text-3xl text-[#98c379]"></span>
        <code class="text-[#c678dd]">experiencia.md</code>
      </div>
      <div class="space-y-6">
        <div class="space-y-4">
          <div class="flex items-center gap-4"> <span class="h-2 w-2 rounded-full bg-[#98c379]"></span>
            <h3 class="text-lg font-bold text-[#e5c07b]">Desarrolldor Full Stack @ 10x Tecnología</h3>
          </div>
          <p class="text-[#abb2bf] text-sm md:text-base pl-6">
            Realicé mantenimiento y mejoras en Laravel y Next.js, optimizando rendimiento y funcionalidad.
            Refactoricé módulos para facilitar su mantenimiento, corregí bugs en el ERP y ajusté funcionalidades
            según las necesidades del cliente.
          </p>
        </div>

        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <span class="h-2 w-2 rounded-full bg-[#61afef]"></span>
            <h3 class="text-lg font-bold text-[#e5c07b]">Desarrolldor Backend @ Tiksup</h3>
          </div>
          <p class="text-[#abb2bf] text-sm md:text-base pl-6">
            Participación en el desarrollo de Tiksup, una plataforma de videos con recomendaciones en tiempo real,
            utilizando microservicios con Go, Python, Node.js, Kafka, MongoDB, Redis y Spark. Gestión del
            almacenamiento en AWS S3 y despliegue en AWS EC2.
          </p>
        </div>

        <div class="space-y-4">
          <div class="flex items-center gap-4">
            <span class="h-2 w-2 rounded-full bg-[#e06c75]"></span>
            <h3 class="text-lg font-bold text-[#e5c07b]">Desarrolldor Full Stack @ Luchadores</h3>
          </div>
          <p class="text-[#abb2bf] text-sm md:text-base pl-6">
            Desarrollo de una aplicación multiplataforma para pacientes con cáncer, con arquitectura de
            microservicios. Implementación del backend con Node.js y Nginx, desplegado en AWS EC2 con S3. Uso de
            Docker para contenerización y entornos consistentes.
          </p>
        </div>
      </div>
    </section>

    <section class="space-y-6">
      <div class="flex items-center gap-3">
        <span class="text-3xl text-[#e06c75]"></span>
        <code class="text-[#c678dd]">intereses.sh</code>
      </div>

      <div class="text-[#abb2bf] grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex items-center gap-3 bg-[#282c34] p-4 rounded-lg">
          <span class="text-3xl text-[#98c379]"></span>
          <span class="text-sm md:text-base">Desarrollo backend</span>
        </div>
        <div class="flex items-center gap-3 bg-[#282c34] p-4 rounded-lg">
          <span class="text-3xl text-[#61afef]"></span>
          <span class="text-sm md:text-base">Tecnologías web modernas</span>
        </div>
        <div class="flex items-center gap-3 bg-[#282c34] p-4 rounded-lg">
          <span class="text-3xl text-[#c678dd]"></span>
          <span class="text-sm md:text-base">Aprendizaje continuo</span>
        </div>
        <div class="flex items-center gap-3 bg-[#282c34] p-4 rounded-lg">
          <span class="text-3xl text-[#e5c07b]"></span>
          <span class="text-sm md:text-base">Open Source</span>
        </div>
      </div>
    </section>

    <section class="space-y-6 text-[#abb2bf]">
      <div class="flex items-center gap-3">
        <span class="text-3xl text-[#56b6c2]"></span>
        <code class="text-[#c678dd]">contacto.txt</code>
      </div>

      <div class="bg-[#282c34] text-sm md:text-base rounded-lg p-6">
        <pre>
# Para contactarme

email: falcorgd@gmail.com
github: github.com/loadept
tiktok: @loadept
        </pre>
      </div>
    </section>
  </div>
</div>
{{ end }}
