{{ define "content" }}
<div class="container mx-auto px-4">
  <section id="content" class="grid md:grid-cols-[2fr_3fr] gap-5 md:gap-20">
    <div class="flex flex-col items-center md:justify-self-end justify-self-center">
      <div id="logo" class="md:size-[18rem] rounded-full size-[13rem]">
      </div>
    </div>
    <article
      class="self-center md:justify-self-start justify-self-center text-sm md:text-base md:text-left text-center">
      <p>
        Aquí comparto lo que aprendo sobre <strong class="text-[#c678dd]">Linux</strong>,
        <strong class="text-[#e06c75]">programación</strong>,
      </p>
      <p>
        <strong class="text-[#98c379]">tecnología</strong>,
        <strong class="text-[#61afef]">Go</strong> y más,
        con proyectos y notas en Markdown.
      </p>
      <p>
        Espero que te sirva tanto como a mí. <span class="text-amber-300 text-3xl">󰈸</span>
      </p>
  </section>
  <div class="space-y-6 mt-12">
    <div class="flex items-center gap-3">
      <span class="text-3xl text-[#98c379]"></span>
      <h2 class="text-2xl font-bold text-[#e5c07b]">Contenido</h2>
    </div>

    <div class="space-y-6">
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-2 overflow-x-auto pb-2 scrollbar-hide">
          <!--TODO: add category buttons-->
        </div>
        <div class="relative flex items-center min-w-[200px]">
          <span class="text-3xl text-[#528bff] absolute left-3"></span>
          <input type="text" placeholder="Buscar..."
            class="w-full bg-[#282c34] rounded-md py-2 pl-10 pr-4 text-sm text-[#abb2bf] placeholder:text-[#528bff] focus:outline-none" />
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
