<section class="space-y-3 text-[#abb2bf]">
  <div class="flex items-center gap-3">
    <span class="text-3xl text-[#56b6c2]">ï¯</span>
    <code class="text-[#c678dd]">contacto.txt</code>
  </div>
  <div class="bg-[#282c34] rounded-lg p-6">
    <pre class="text-sm whitespace-pre-wrap">
      <code>{`
# Para contactarme
email: loadept3@gmail.com
github: github.com/loadept

tiktok: @loadept`}</code>
    </pre>
  </div>
</section>
