{{ define "footer" }}
<footer class="py-8 bg-linear-to-t from-[#282c34] via-80% via-[#282c34] to-[#1f2329]">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-center text-center">
      <p class="text-sm text-[#abb2bf]">
        <span class="text-[#c678dd]">año</span> <span class="text-[#e06c75]">:=</span> {{ .Year }}
      </p>
    </div>
  </div>
</footer>
{{ end }}
