<article class="self-center md:justify-self-start justify-self-center text-sm md:text-base md:text-left text-center">
  <p>
    Aquí comparto lo que aprendo sobre <strong class="text-[#c678dd] font-black">Linux</strong>,
    <strong class="text-[#e06c75] font-black"> programación</strong>,
  </p>
  <p>
    <strong class="text-[#98c379] font-black"> tecnología</strong>,
    <strong class="text-[#61afef] font-black"> Go</strong> y más,
    con proyectos y notas en Markdown.
  </p>
  <p>
    Espero que te sirva tanto como a mí. <span class="text-amber-300 text-3xl"></span>
  </p>
</article>
