---
import Layout from '../layouts/Layout.astro'
import BackArrow from '../modules/shared/components/BackArrow.astro'

export const getStaticPaths = (() => {
  const resourcePage = import.meta.glob('../content/resources/tools/*.{md,astro}', { eager: true })

  return Object.entries(resourcePage).map(([filePath, module]: [string, any]) => {
    const slug = filePath.replace('../content/resources/tools/', '').replace(/\.(md|astro)$/, '')
      .trim()
      .toLocaleLowerCase()
    const title = module.frontmatter?.title || module.metadata?.title || slug
    const description = module.frontmatter?.description || module.metadata?.description || ''
    const keywords = module.frontmatter?.keywords || module.metadata?.keywords || ''

    return {
      params: { tools: slug },
      props: {
        useProse: module.Content ? true : false,
        Component: module.default || module.Content,
        title,
        description,
        keywords
      }
    }
  })
})

const { useProse, Component, title, description, keywords } = Astro.props
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="container mx-auto px-4 max-w-4xl mb-20">
    <BackArrow text='Volver al inicio' href='/' />
    {
      useProse ? (
        <article class="prose prose-invert prose-headings:text-[#e5c07b] prose-a:text-[#61afef] max-w-none">
          <Component />
        </article>
      ) : (
        <Component />
      )
    }
  </div>
</Layout>
