---
import Description from '../modules/about/components/Description.astro'
import Experience from '../modules/about/components/Experience.astro'
import Interests from '../modules/about/components/Interests.astro'
import ContactSection from '../modules/about/components/ContactSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout 
  title="Sobre mí"
  description="Soy un desarrollador de software apasionado por el código abierto, Go y Linux. Aquí comparto mis proyectos, experiencias y conocimientos técnicos."
  keywords="sobre mi, loadept, desarrollador software, portfolio, experiencia, contacto, go, linux"
>  
  <div class="container mx-auto px-4 max-w-3xl mb-20">
    <div class="space-y-16">
      <Description />
      <Experience />
      <Interests />
      <ContactSection />
    </div>
  </div>
</Layout>
